//colors
$primary-color:#ecc7d0;

//fonts
$primary-font: 'Lato', sans-serif;
$secondary-font:  'Helvetica', sans-serif;

//media queries
@mixin tablet {
  @media (min-width: 768px) { @content; };
}

@mixin desktop {
  @media (min-width: 1281px) { @content; };
}